* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}

a {
    color: #7c9ab7;
    font-weight: bold;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

input {
    position: relative;
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
    width: 300px;
}

button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
    width: 300px;
}

.msg {
    color: #2a8d2b;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    width: 300px;
}

.auth_msg {
    color: red;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    width: 300px;
}

.error_msg {
    font-weight: bold;
    pointer-events: none;
    color: red;
    font-size: 15px;
    position: absolute;
    margin-left: 310px;
}

.logout {
    color: #b7625c;
}